@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Nunito:wght@850&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  color: #394166;
}

body {
  max-width: 900px;
  margin: auto;
}

nav {
  height: 100px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: block;
  width: 150px;
  background-color: #394166;
  text-align: center;
  padding: 12px 20px;
  border-radius: 5px;
  color: #fafafa;
  text-decoration: none;
  font-weight: bold;
}
.button:hover {
  text-decoration: underline;
}

#top-button {
  border: 1px solid #394166;
  background-color: #fafafa;
  color: #394166;
  width: 56px;
}

.row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.column {
  float: left;
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .column {
    width: 100%;
  }
}
footer {
  flex-direction: column;
  text-align: center;
  background-color: #faf4d9;
}
footer a {
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

.penguin {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 0 15px;
}
.penguin img {
  margin: 0 7px;
}
.penguin p {
  text-align: left;
  margin: 40px 7px;
}
.penguin p em {
  opacity: 0.8;
}

#headline {
  font-family: "Nunito", sans-serif;
  color: #4DB4E5;
  margin-left: 46px;
  margin-right: 46px;
  margin-top: 0;
}

.center, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

h2, p {
  margin: 40px 20px;
}

h3 {
  color: #4DB4E5;
  margin-bottom: 30px;
}