@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Nunito:wght@850&display=swap');

$font-display: "IBM Plex Sans", sans-serif;
$font-body: "Nunito", sans-serif;

$color-primary: #394166;
$color-secondary: #faf4d9;
$color-info: #4DB4E5;
$color-white: #fafafa;

* {
    margin: 0;
    padding: 0;
    font-family: $font-display;
    color: $color-primary;
}

nav {
    height: 100px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: block;
    width: 150px;
    background-color: $color-primary;
    text-align: center;
    padding: 12px 20px;
    border-radius: 5px;
    color: $color-white;
    text-decoration: none;
    font-weight: bold;
    
    &:hover {
        text-decoration: underline; 
     }
}

#top-button {
    border: 1px solid $color-primary;
    background-color: $color-white;
    color: $color-primary;
    width: 56px;
}

.row {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.column {
    float: left;
    width: 50%;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .column {
        width: 100%;
    }
}

footer {
    flex-direction: column;
    text-align: center;
    background-color: $color-secondary;

    a {
        display: block;
        width: 100%;
        padding: 10px;
        text-decoration: none;

        &:hover {
           text-decoration: underline;
        }
    }
}

.penguin {       
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;

    p {
        text-align: left;
    }
}

#headline {
    font-family: $font-body;
    color: $color-info;
}

.center, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}